/* Customize scrollbar */
.table-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 0;
}

.table-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4a55684d; /* Thumb color */
  border-radius: 4px;
}

.table-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #2d374886; /* Thumb color on hover */
}

.table-scrollbar::-webkit-scrollbar-track {
  background-color: #edf2f7; /* Track color */
  border-radius: 4px;
}
